<% layout('_inc/layout') -%>

<div class="dialog" id="signup-dialog">
	<div class="v-align">
		<div class="v-align__cell">

			<div class="dialog__wrapper">
				<h4>Join the innovation</h4>
				<p>
					Sign up using your email below and be the first to know when we release in
					Amsterdam next year!
				</p>

				<form action="/php/form.php" class="js-signup-form form--minimal">
					<p><b class="js-signup-form__noti"></b></p>

					<label>Your email</label>
					<input type="email" name="email" placeholder="harvey@specter.com" required />
					<input class="js-form__submit" type="submit" value="Sign up">
				</form>

				<p>
					<a data-dialog-close="#signup-dialog" class="dialog__close">
						Close dialog
					</a>
				</p>
			</div>

		</div>
	</div>
</div>

<section class="v-align bg-img">
	<header class="header header--sticky">
		<div class="container">
			<div class="header__right">
				<small>Restaurant owner?</small>
				<small><a href="/" class="btn btn--push-left">Taplicious for Restaurants</a></small>
			</div>
		</div>
	</header>
	<section class="v-align__cell">
		<div class="container container--small">

			<div class="intro-content">
				<h1 class="logo">Taplicious</h1>
				<h2 class="h4">Revolutionise the restaurant experience</h2>
				<p>Order and checkout on your phone, rate your food, get discounts, discover new food and much more. Be part of the revolution.</p>

				<div><a class="btn btn--push-btm" data-dialog-open="#signup-dialog">
					Get started for free
				</a></div>
				<div><a class="btn btn--primary" href="https://www.youtube.com/watch?v=WRuU6TqxOs0">
					Watch the Pitch
				</a></div>
			</div>

			<div class="iphones">
				<img src="/img/devices-taplicious.png" alt="" />
			</div>

		</div>
	</section>

	<footer class="mastfoot mastfoot--sticky">
		<ul class="list list--inline">
			<li><a href="">Terms of Service</a></li>
			<li><a href="">Privacy Policy</a></li>
			<li><a href="mailto:support@taplicious.com">Support</a></li>
			<li><a href="http://duxilio.com">Copyright Duxilio 2015</a></li>
		</ul>
	</footer>
</section>