<% layout('_inc/layout') -%>

<div class="masthead masthead--sticky masthead--accent">
	<h1 class="logo logo--small pull-left">Taplicious</h1>
	<a href="https://docs.google.com/forms/d/1ERQWdw5WHlSeBNXJWeTW9gJrNCQSuMBmg7UYioyOvlg/viewform?usp=send_form"
	   class="btn btn--reversed btn--small pull-right"
	   title="<?php $t->show('HOME_CTA_ALT'); ?>">
		<?php $t->show('HOME_CTA'); ?>
	</a>
</div>

<section class="hero">
	<div class="container">
		<header class="header">
			<div class="header__left">
				<ul class="list list--inline">
					<li><a class="a--clean<?php if($lang_code == 'nl-NL'): ?> a--bold<?php endif; ?>"
						   href="?lang=nl-NL">
						   Nederlands
						</a></li>
					<li><a class="a--clean<?php if($lang_code == 'en-GB' || $lang_code == 'en-US'): ?> a--bold<?php endif; ?>"
						   href="?lang=en-GB">
						   English
						</a></li>
				</ul>
			</div>
			<div class="header__right">
				<small><?php $t->show('HOME_STICKYHEAD_CTA_TRIGGERTEXT'); ?></small>
				<small><a href="/app" class="btn btn--push-left">
					<?php $t->show('HOME_STICKYHEAD_CTA'); ?>
				</a></small>
			</div>
		</header>

		<div class="hero__content">
			<h1 class="logo logo--big">Taplicious</h1>
			<h2 class="h2 hero__title">
				<?php $t->show('HOME_HERO_TITLE'); ?>
			</h2>
			<p class="h5 hero__sub-title h--normalize">
				<?php $t->show('HOME_HERO_SUBTITLE'); ?>
			</p>
			<a href="https://docs.google.com/forms/d/1ERQWdw5WHlSeBNXJWeTW9gJrNCQSuMBmg7UYioyOvlg/viewform?usp=send_form"
			   class="btn btn--big"
			   title="<?php $t->show('HOME_CTA_ALT'); ?>">
				<?php $t->show('HOME_CTA'); ?>
			</a>
		</div>
	</div>
</section>
<section class="promo-banner promo-banner--light">
	<div class="container">
		<p>
			<?php $t->show('HOME_HURRY_TEXT'); ?>
		</p>
		<a href="http://www.youtube.com/watch?v=WRuU6TqxOs0"
		   class="btn btn--small btn--push-left"
		   title="<?php $t->show('HOME_HURRY_CTA_ALT'); ?>">
			<?php $t->show('HOME_HURRY_CTA'); ?>
		</a>
	</div>
</section>

<%-
partial('_inc/feature', {
	title: "<?php $t->show('HOME_FEATURE_1_TITLE'); ?>",
	subTitle: "<?php $t->show('HOME_FEATURE_1_SUBTITLE'); ?>",
	description: "<?php $t->show('HOME_FEATURE_1_DESC'); ?>",
	preview: {
		url: '/img/taplicious-check-in.jpg',
		alt: 'Taplicious App Check-in'
	},
	subFeatures: [{
		iconCode: 'ion-heart',
		title: "<?php $t->show('HOME_FEATURE_1_SUBFEATURE_1_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_1_SUBFEATURE_1_DESC'); ?>"
	},{
		iconCode: 'ion-bowtie',
		title: "<?php $t->show('HOME_FEATURE_1_SUBFEATURE_2_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_1_SUBFEATURE_2_DESC'); ?>"
	},{
		iconCode: 'ion-cash',
		title: "<?php $t->show('HOME_FEATURE_1_SUBFEATURE_3_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_1_SUBFEATURE_3_DESC'); ?>"
	}],
	options: {
		reversed: false
	}
})
%>

<%-
partial('_inc/feature', {
	title: "<?php $t->show('HOME_FEATURE_3_TITLE'); ?>",
	subTitle: "<?php $t->show('HOME_FEATURE_3_SUBTITLE'); ?>",
	description: "<?php $t->show('HOME_FEATURE_3_DESC'); ?>",
	subFeatures: [{
		iconCode: 'ion-star',
		title: "<?php $t->show('HOME_FEATURE_3_SUBFEATURE_1_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_3_SUBFEATURE_1_DESC'); ?>"
	},{
		iconCode: 'ion-ios-chatboxes',
		title: "<?php $t->show('HOME_FEATURE_3_SUBFEATURE_2_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_3_SUBFEATURE_2_DESC'); ?>"
	}],
	preview: {
		url: '/img/taplicious-panel-menu-subcategories.png',
		alt: 'Taplicious Restaurants Panel Menu Editor'
	},
	options: {
		reversed: true
	}
})
%>

<section class="promo-banner">
	<div class="container">
		<p><?php $t->show('HOME_CTA_TEXT'); ?></p>
		<a href="https://docs.google.com/forms/d/1ERQWdw5WHlSeBNXJWeTW9gJrNCQSuMBmg7UYioyOvlg/viewform?usp=send_form" class="btn btn--push-left"
		title="<?php $t->show('HOME_CTA_ALT'); ?>">
			<?php $t->show('HOME_CTA'); ?>
		</a>
	</div>
</section>

<%-
partial('_inc/feature', {
	title: "<?php $t->show('HOME_FEATURE_2_TITLE'); ?>",
	subTitle: "<?php $t->show('HOME_FEATURE_2_SUBTITLE'); ?>",
	description: "<?php $t->show('HOME_FEATURE_2_DESC'); ?>",
	subFeatures: [{
		iconCode: 'ion-person-stalker',
		title: "<?php $t->show('HOME_FEATURE_2_SUBFEATURE_1_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_2_SUBFEATURE_1_DESC'); ?>"
	},{
		iconCode: 'ion-happy',
		title: "<?php $t->show('HOME_FEATURE_2_SUBFEATURE_2_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_2_SUBFEATURE_2_DESC'); ?>"
	}],
	preview: {
		url: '/img/taplicious-panel-payments-table.png',
		alt: 'Taplicious Restaurants Panel Payments Table'
	},
	options: {
		reversed: false
	}
})
%>

<%-
partial('_inc/feature', {
	title: "<?php $t->show('HOME_FEATURE_4_TITLE'); ?>",
	subTitle: "<?php $t->show('HOME_FEATURE_4_SUBTITLE'); ?>",
	description: "<?php $t->show('HOME_FEATURE_4_DESC'); ?>",
	subFeatures: [{
		iconCode: 'ion-lock-combination',
		title: "<?php $t->show('HOME_FEATURE_4_SUBFEATURE_1_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_4_SUBFEATURE_1_DESC'); ?>"
	}, {
		iconCode: 'ion-android-done-all',
		title: "<?php $t->show('HOME_FEATURE_4_SUBFEATURE_2_TITLE'); ?>",
		description: "<?php $t->show('HOME_FEATURE_4_SUBFEATURE_2_DESC'); ?>"
	}],
	preview: {
		url:'/img/taplicious-panel-payments.png',
		alt: 'Taplicious Restaurants Panel Payments'
	},
	options: {
		reversed: true
	}
})
%>

<section class="cta-area" id="starterskit">
	<div class="container">
		<h3><?php $t->show('HOME_CTA-AREA_TITLE'); ?></h3>
		<h4 class="h6"><?php $t->show('HOME_CTA-AREA_SUBTITLE'); ?></h6>

		<a href="https://docs.google.com/forms/d/1ERQWdw5WHlSeBNXJWeTW9gJrNCQSuMBmg7UYioyOvlg/viewform?usp=send_form" class="btn"
		title="<?php $t->show('HOME_CTA_ALT'); ?>">
			<?php $t->show('HOME_CTA'); ?>
		</a>

		<!-- <form action="/php/form.php" class="js-signup-form form--minimal form--horizontal">
			<p><b class="js-signup-form__noti"></b></p>

			<div class="form-group">
				<label>Full name</label>
				<input type="text" name="name" placeholder="your name" required />
			</div>

			<div class="form-group">
				<label>Phone number</label>
				<input type="number" name="tel" placeholder="+31 06 12345678" required />
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" placeholder="your@email.com" required />
			</div>
		
			<div>
				<input class="js-form__submit" type="submit" value="Request starterskit - its free!">
			</div>
		</form> -->
	</div>
</section>

<footer class="mastfoot mastfoot--expanded">
	<div class="container">
		<div class="logo logo--small logo--dark"></div>
		<ul class="list list--inline">
			<li><a href="#">Terms of Service</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="mailto:support@taplicious.com">Support</a></li>
			<li><a href="http://duxilio.com">Copyright Duxilio 2015</a></li>
		</ul>
	</div>
</footer>