<div class="feature
			<%= options.reversed ? 'feature--reversed' : '' %>">
	<div class="container">
		
		<div class="feature__content">
			<h3 class="h--accent"><%- title %></h3>
			<h4 class="h6"><%- subTitle %></h4>
			<p><%- description %></p>

			<%
			if(typeof subFeatures !== 'undefined'){
				subFeatures.forEach(function(details){
			%>
				<div class="feature__sub-feature">
					<div class="feature__sub-feature__icon <%= details.iconCode %>"></div>
					<div class="feature__sub-feature__content">
						<b><%- details.title %></b>
						<p><%- details.description %></p>
					</div>
				</div>
			<%
				});
			}
			%>

			<% if(typeof testimonial !== 'undefined'){ %>
			<div class="testimonial">
				<div class="testimonial__photo">
					<img src="<%= testimonial.photoUrl %>" />
				</div>
				<blockquote class="testimonial__content">
					“<%= testimonial.content %>”
					<cite>
						<%= testimonial.name %><br><%= testimonial.company %>
					</cite>
				</blockquote>
			</div>
			<% } %>
		</div>

		<div class="feature__preview">
			<img src="<%= preview.url %>" alt="<%= preview.alt %>" />
		</div>

	</div>
</div>