<%
    var siteUrl = 'http://taplicious.com',
        appName = 'Taplicious',
        appDesc = 'Revolutionising the way you experience restaurants',
        appDescLong = 'Order and checkout on your phone, rate your food, get discounts, discover new food and much more. Be part of the revolution.';
%>

<?php
    include './php/Translator.php';

    if(isset($_GET['lang']) && $_GET['lang'] != ''){
        $lang_code = htmlentities($_GET['lang']);
    } else {
        $lang_code = explode(',', $_SERVER['HTTP_ACCEPT_LANGUAGE'])[0];
    }

    $t = new Translator($lang_code);
?>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= appName %> - <%= appDesc %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="<%= appDescLong %>">

    <meta name="author" content="Duxilio">
    <meta name="follow" content="index, follow">

    <meta property="og:site_name" content="<%= appName %> - <%= appDesc %>">
    <meta property="og:locale" content="en-GB">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= appDescLong %>">
    <meta property="og:url" content="<%= siteUrl %>">
    <meta property="og:title" content="<%= appName %> - <%= appDesc %>">
    <meta property="og:image" content="<%= siteUrl %>/img/taplicious-og.png">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@duxil_io">
    <meta name="twitter:url" content="<%= siteUrl %>">
    <meta name="twitter:title" content="<%= appName %> - <%= appDesc %>">
    <meta name="twitter:description" content="<%= appDescLong %>">
    <meta name="twitter:image" content="<%= siteUrl %>/img/taplicious-og.png">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#fa6441">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#fa6441">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/ionicons/ionicons.css">

    <script src="https://use.typekit.net/oje1rfa.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <%- body %>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-69976251-1', 'auto');
		ga('send', 'pageview');
	</script>

    <!-- Start of taplicious Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","taplicious.zendesk.com");/*]]>*/</script>
    <!-- End of taplicious Zendesk Widget script -->

  </body>
</html>