* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html,body {
  	width: 100%;
  	height: 100%;
}

body {
	font: $body-weight $size-m $body-family;
	color: $base-color;
	background-color: $bg-color;
	line-height: $body-line-height;
}

.container {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;

	&.container--small {
		width: 800px;
	}
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.header {
	width: 100%;
	overflow: hidden;
	text-align: left;

	position: relative;
	z-index: 2;
	padding: $margin-m 0;

	color: $white;
	a {
		color: $white;
	}

	&__left {
		float: left;
	}
	&__right {
		float: right;
	}

	&.header--sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
}