@include headings(){
	font-weight: $heading-weight;
	font-family: $heading-family;
	color: $base-color;

	line-height: $heading-line-height;
	margin-bottom: $margin-xs;

	&.h--accent {
		color: $accent !important;
	}

	&.h--normalize {
		font-family: $body-family;
		font-weight: $body-weight;
	}
}

$heading-start-size: 3em;
@for $i from 0 through 5 {
	h#{$i+1}, .h#{$i+1}{
		font-size: #{$heading-start-size - ($i*0.4)};
	}
}

h6,.h6 {
	font-size: 1.3em;
}

a {
	color: $base-color;
	cursor: pointer;

	&.a--clean {
		text-decoration: none;
	}
	&.a--bold {
		font-weight: $body-bold-weight;
	}
}

p {
	margin-bottom: $margin-m;
}

small {
	font-size: $size-s;
}

strong, b {
	font-weight: $body-bold-weight;
}