@mixin headings(){
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		@content;
	}
}

@mixin transition($properties, $duration: .3s, $timing: ease){
	transition-property: $properties;
	transition-duration: $duration;
	transition-timing-function: $timing;
}

@mixin main-font(){
	font: $body-weight $size-m $body-family;
}

//Media queries
@mixin media($min-width:false, $max-width:false, $type: all){
    @if $min-width and $max-width {

        @media #{$type} and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }

    } @else if not $min-width and $max-width {

        @media #{$type} and (max-width: $max-width) {
            @content;
        }

    } @else if $min-width and not $max-width {

        @media #{$type} and (min-width: $min-width) {
            @content;
        }

    }
}