$base-color: #444444;
$white: #f5f5f5;

$grey-light: #F5F5F5;
$grey: #D8D8D8;
$grey-darker: darken($grey, 10%);
$grey-lightest: #F5F5F5;

$accent: #FA6441;
$accent-dark: darken($accent, 5%);
$accent-alt: #55B392;

$bg-color: white;

$body-family: 'museo-sans', 'Open Sans', Helvetica, Arial, sans-serif;
$body-weight: 300;
$body-bold-weight: 700;
$body-line-height: 1.5em;

$heading-family: 'museo-slab', $body-family;
$heading-weight: 700;
$heading-line-height: 1.3em;

$size-xs: .8em;
$size-s: .9em;
$size-m: 16px;
$size-l: 1.15em;

$margin-xs: .4em;
$margin-s: 1em;
$margin-m: 1.5em;
$margin-l: 2.5em;
$margin-xl: 3.5em;
$margin-xxl: 5.5em;

$padding-s: $margin-s $margin-s+5;
$padding-m: $margin-m $margin-m+5;

$border-style: solid;
$border-width: 2px;
$border-radius: 0px;

$opacity: .8;

$font-path: '/fonts';