.bg-img {
	height: 100%;
	position: relative;

	background-color: $base-color;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(/img/taplicious-table.jpg);

	&:before {
		content: '';

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;

		background-color: rgba($base-color, .6);
	}
}