.btn {
	@include main-font;
	font-size: 1em;

	display: inline-block;
	padding: 1.2em 2em;

	line-height: 1em;
	cursor: pointer;
	
	background-color: $accent-alt;
	color: $white;
	
	text-decoration: none;
	border: none;
	border-radius: 3px;

	@include transition(background-color);

	&:hover {
		background-color: darken($accent-alt, 5%);
	}

	&.btn--primary {
		background-color: $accent;
	}

	&.btn--big {
		font-size: $size-l;
	}

	&.btn--small {
		font-size: $size-s;
	}

	&.btn--reversed {
		background-color: $white;
		color: $accent;
	}

	&.btn--push-left {
		margin-left: $margin-s;
	}
	&.btn--push-btm {
		margin-bottom: $margin-s;
	}
}