form {
	overflow: hidden;
}

form.form--minimal {
	text-align: left;

	label {
		font-family: $heading-family;
		font-weight: $heading-weight;
		color: rgba($white, 1);
	}

	::-webkit-input-placeholder {
	   color: rgba($white, .4);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: rgba($white, .4);
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba($white, .4);
	}

	:-ms-input-placeholder {  
	   color: rgba($white, .4);
	}

	input:focus {
		outline: none;
	}

	input:not([type="submit"]) {
		width: 100%;
		background-color: transparent;
		
		border: none;
		border-bottom: dashed 3px $white;

		color: $white;

		font-size: 1.5em;
		font-family: $heading-family;
		font-weight: $heading-weight;

		margin-bottom: $margin-xs;
	}

	input[type="submit"]{
		@extend .btn;
		@extend .btn--alt;

		float: right;
		opacity: .3;

		-webkit-appearance: none;

		padding: .8em 1em;
		@include transition((opacity, background-color));
	}

	&.js-form--valid input[type="submit"]{
		opacity: 1;
	}
}

form.form--horizontal {
	text-align: center;

	.form-group {
		max-width: 260px;
		display: inline-block;
		text-align: left;
		margin-right: $margin-m;

		input:not([type="submit"]) {
			font-size: 1.2em;
			padding: .3em 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}