.logo {
	width: 110px;
	height: 110px;
	
	background-image: url(/img/taplicious-logo.svg);
	background-size: cover;

	margin-bottom: $margin-xs;
	line-height: 999;
	overflow: hidden;

	&.logo--big {
		width: 120px;
		height: 120px;
	}

	&.logo--small {
		width: 60px;
		height: 60px;
	}

	&.logo--dark {
		background-image: url(/img/taplicious-logo-dark.svg);
	}
}