.browser {
	width: 900px;
	height: 550px;
	overflow: hidden;

	background-image: url('/img/browser.svg');
	background-size: 100%;
	background-position: center;

	&__screen {
		width: 880px;
		height: 490px;
		overflow: hidden;

		margin: 0 auto;
		margin-top: 50px;

		img {
			width: 100%;
		}
	}
}