.cta-area {
	padding: $margin-xl 0;
	background-color: $accent;
	text-align: center;

	color: $white;
	@include headings {
		color: $white;
	}
	a {
		color: $white;
	}

	form {
		margin-top: $margin-s;
	}

	form input[type="submit"], .btn {
		background-color: $white;
		color: $accent;
		padding: 1.2em 2em;

		margin-top: $margin-s;
		margin-right: 190px;

		@include transition((background-color, opacity));
		opacity: 1;

		&:hover {
			background-color: $white;
		}
	}

	.btn {
		margin-right: 0;
	}

	form.js-form--valid input[type="submit"] {
		&:hover {
			color: $accent;
			background-color: rgba($white, .7); 
		}
	}
}