.dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 9;
	background-color: rgba($accent, .95);

	color: $white;
	@include headings() {
		color: $white;
	}

	&__wrapper {
		width: 400px;
		margin: 0 auto;
		color: $white;

		a {
			color: $white;
		}
	}

	&__close {
		width: 100%;
		display: block;

		color: rgba($white, .7) !important;
		text-align: center;

		text-decoration: underline;
		margin-top: $margin-m;

		font-size: $size-s;
	}

	display: none;
	opacity: 0;

	@include transition(opacity);

	&.dialog--block {
		display: block;
	}
	&.dialog--visible {
		opacity: 1;
	}
}