.feature {
	width: 100%;
	overflow: hidden;
	padding: $margin-xxl 0;
	padding-bottom: $margin-xxl - 1.5em;

	border-bottom: solid 1px $grey-light;

	> .container {
		overflow: visible;
	}

	h3 {
		margin-bottom: $margin-xs;
	}

	h4 {
		margin-bottom: $margin-s;
	}
	
	&__content {
		width: 540px;
		float: left;
	}

	&__preview {
		width: 1200px;
		float: right;
		margin-right: -600px;

		img {
			width: 100%;
		}
	}

	&__sub-feature {
		margin-bottom: $margin-m;
		p {
			margin: 0;
		}

		&__icon {
			font-size: 1.3em;
			color: $accent;
			float: left;
			margin-right: $margin-xs;
		}

		&__content {
			overflow: hidden;
			max-width: 400px;
		}
	}

	&.feature--reversed {
		.feature__content {
			float: right;
		}
		.feature__preview {
			float: left;
			margin-right: 0;
			margin-left: -600px;
		}
	}
}