.hero {
	@extend .bg-img;
	background-attachment: initial;
	text-align: center;

	height: 700px;
	overflow: hidden;

	position: relative;
	z-index: 3;

	color: $white;
	@include headings {
		color: $white;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	&__title {
		margin-bottom: $margin-xs;
	}

	&__sub-title {
		margin-bottom: $margin-m;
	}

	&__content {
		padding-top: 7em;
	}

	.logo {
		margin: 0 auto;
		margin-bottom: $margin-xs;
	}
}