.masthead {
	padding: $margin-m;

	&__cta {
		float: right;
	}
	
	&.masthead--sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;
	}

	&.masthead--accent {
		width: 100%;
		color: $white;

		background-color: $accent;
		padding: 1em 1.5em;

		.logo {
			margin: 0;
			margin-top: -8px;
			height: 55px;
			width: 65px;
		}
	}

}