.mastfoot {
	width: 100%;


	font-size: .8em;
	text-align: center;

	position: relative;
	z-index: 2;

	.logo {
		margin: 0 auto;
		margin-bottom: $margin-s;
	}

	&.mastfoot--expanded {
		padding: $margin-l 0;

		.logo {
			opacity: .7;
		}

		a {
			text-decoration: none;
			color: rgba($base-color, .7);
			@include transition(color);

			&:hover {
				color: rgba($base-color, 1);
			}
		}
	}

	&.mastfoot--sticky {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		color: rgba($white, .7);

		a {
			color: rgba($white, .7);
			border: none;

			@include transition(color);

			&:hover {
				color: rgba($white, .9);
			}
		}
	}

}