.promo-banner {
	background-color: $base-color;
	padding: $margin-s 0;
	color: $white;
	text-align: center;

	p {
		display: inline-block;
		margin-bottom: 0;
	}

	&.promo-banner--light {
		background-color: $grey-light;
		color: $base-color;
	}
}