.testimonial {
	padding-top: $margin-xs;
	
	&__photo {
		width: 65px;
		height: 65px;
		overflow: hidden;
		border-radius: 100%;

		float: left;
		margin-top: -7px;

		img {
			width: 100%;
		}
	}

	&__content {
		max-width: 350px;

		font-style: italic;
		font-size: $size-s;
		background-color: $grey-lightest;
		
		padding: $margin-m;
		border-radius: 3px;

		position: relative;
		margin-left: 90px;

		&:before {
			content: '';
			width: 0; height: 0;
			border-top: solid 10px transparent;
			border-bottom: solid 10px transparent;
			border-right: solid 10px $grey-light;

			position: absolute;
			top: $margin-s;
			left: -10px;
		}

		cite {
			font-size: $size-s;
			width: 100%;
			display: block;
			margin-top: $margin-s;
		}
	}

}