@include media($max-width: 767px){
	body {
		font-size: 14px;
	}

	.container, .container.container--small {
		width: 90%;
	}

	// HOME

	.masthead.masthead--accent {
		text-align: center;

		.logo {
			display: none;
		}

		.btn {
			float: none;
		}
	}

	.container.container--small {
		padding: 0 $margin-s;
	}

	.logo {
		width: 100px;
		height: 100px;
	}

	.intro-content {
		float: none;
		margin: 0 auto;
		padding-top: $margin-m;
		padding-bottom: $margin-l;
	}

	.iphones {
		width: 120%;
		max-height: 350px;
		float: none;
		margin: 0 auto;
	}

	.dialog__wrapper {
		width: 90%;
	}

	//

	.hero {
		height: 600px;

		&__content {
			padding-top: $margin-l;
		}
	}

	.header {
		text-align: center;

		&__left {
			float: none;
		}
		&__right {
			display: none;
		}

		.btn.btn--push-left {
			margin-left: 0;
			margin-top: $margin-xs;
		}
	}

	.promo-banner {
		p {
			margin-bottom: $margin-s;
			display: block;
		}
	}

	.feature {
		padding: $margin-l 0;

		&__content {
			width: 100%;
		}
		&__preview {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
		}

		&.feature--reversed {
			.feature__content, .feature__preview {
				float: none;
			}
			.feature__preview {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

@include media(767px, 960px){
	.container.container--small {
		width: 768px;
		padding: 0 $margin-s;
	}

	.intro-content {
		width: 768px/2;
	}

	.iphones {
		width: 768px/2 - 50px;
	}

	// HOME

	.container {
		width: 680px;
	}

	.feature {
		padding: $margin-l 0;

		&__content {
			width: 350px;
		}
		&__preview {
			margin-right: -920px;
		}

		&.feature--reversed {
			.feature__preview {
				margin-left: -920px;
			}
		}
	}
}

@include media(960px, 1200px){
	.container {
		width: 960px;
	}

	.feature {
		&__preview {
			margin-right: -820px;
		}

		&.feature--reversed {
			.feature__preview {
				margin-left: -820px;
			}
		}
	}
}